/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;

    > .grid-container {
        padding: $spacing-unit 0;
    }

    .columns {
        padding-right: $spacing-unit / 2;
    }

    .columns:last-child {
        padding-right: 0;
    }

    .contact-list,
    .social-media-list {
        list-style: none;
        margin-left: 0;
    }
}
