/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Box sizing
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}



/**
 * Basic styling
 */
html, body {
    height: 100%;
}
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Grid container
 */
.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width - ($spacing-unit * 2);
    width: 100%;
}



/**
 * Row
 */
.row {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}



/**
 * Columns
 */
.columns {
    width: 100%;
    min-height: 1px;

    @include media-query($medium-up) {
        float: left;

        &.one {
            width: 100% / 12 * 1;
        }

        &.two {
            width: 100% / 12 * 2;
        }

        &.three {
            width: 100% / 12 * 3;
        }

        &.four {
            width: 100% / 12 * 4;
        }

        &.five {
            width: 100% / 12 * 5;
        }

        &.six {
            width: 100% / 12 * 6;
        }

        &.seven {
            width: 100% / 12 * 7;
        }

        &.eight {
            width: 100% / 12 * 8;
        }

        &.nine {
            width: 100% / 12 * 9;
        }

        &.ten {
            width: 100% / 12 * 10;
        }

        &.eleven {
            width: 100% / 12 * 11;
        }

        &.twelve {
            width: 100% / 12 * 12;
        }
    }
}



/**
 * Icons
 */
.icon {
    color: $grey-color;
}



/**
 * Table display
 */
.table {
    border-collapse: collapse;
    display: table;
    height: 100%;
    width: 100%;
}

.table-row {
    display: table-row;
    height: 1px;
}

.table-row.expand {
    height: auto;
}