<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

    <head>
        {% include head.html %}
    </head>
    
    <body>

        <div class="table">

            <div class="table-row">
                <header class="site-header">
                    <div class="grid-container">
                        <div class="row">
                            {% include header.html %}
                        </div>
                    </div>
                </header>
            </div>

            <div class="site-content table-row expand">
                <div class="grid-container">
                    <div class="row">
                        {{ content }}
                    </div>
                </div>
            </div>

            <footer class="site-footer table-row">
                <div class="grid-container">
                    <div class="row">
                        {% include footer.html %}
                    </div>
                </div>
            </div>

        </div>

        {% include scripts.html %}

    </body>

</html>