<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="table">

            <!-- header -->
            <div class="table-row">
                <header class="site-header">
                    <div class="grid-container">
                        <div class="row">
                            {% include header.html %}
                        </div>
                    </div>
                </header>
            </div>

            <!-- content -->
            <div class="table-row expand">
                <div class="site-content">
                    <div class="grid-container">
                        <div class="row">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div class="table-row">
                <footer class="site-footer">
                    <div class="grid-container">
                        <div class="row">
                            {% include footer.html %}
                        </div>
                    </div>
                </footer>
            </div>

        </div>

        {% include scripts.html %}
        
    </body>
</html>
